.navigation {
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-primary-dark);
    color: #f5f5f5;
    display: flex;
    padding: var(--main-padding);
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: var(--spacing-md);
    border-bottom-right-radius: var(--spacing-md);

    p {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
    }

    .links {
        display: flex;
        gap: 1rem;
    }
}