.title {
    line-height: 1.2;
    font-size: 32px;
    margin-top: var(--mantine-spacing-xs);
}

.slide {
    height: 400px;
    align-items: center;
    display: flex;
    flex-grow: 1;

    .card {
        border: 1px solid #ddd;
        height: 220px;
        padding: 0;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-size: cover;
        background-position: center;
    }
}