.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 360px;
    background-size: cover;
    padding: var(--spacing-md);
    height: 240px;
    border-radius: var(--spacing-md);
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
    }
}