.questionWrapper {
    width: 100%;
    max-width: 420px;

    .option {
        display: flex;
        gap: 1rem;
        padding: 0.5rem;
        align-items: center;
        width: 100%;
        max-width: 420px;

        &.correctAnswer {
            background-color: #87ea87;
        }

        &.incorrectAnswer {
            background-color: #f19696;
        }
    }
}
