.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
        width: 100%;
        height: var(--header-height);
        background-color: var(--layout-background-color);
        display: flex;
        padding: var(--main-padding);
        align-items: center;
        border-bottom: var(--layout-border);
    }

    .main {
        overflow: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }


    .footer {
        width: 100%;
        height: var(--footer-height);
        background-color: var(--layout-background-color);
        display: flex;
        padding: var(--main-padding);
        align-items: center;
        justify-content: space-between;
        border-top: var(--layout-border);


        &.withOnlyRightArea {
            justify-content: flex-end;
        }

        &.withOnlyLeftArea {
            justify-content: flex-start;
        }
    }
}